html {
    scroll-behavior: smooth;
  }
body {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    /* margin-bottom: 10%; */
}
@media (min-width: 200px) and (max-width: 576px) and (orientation: portrait) { 
    nav .navbar {
       width: 100dvw;
       height: 100%;
    }
 section.container {
    width: 100%;
    height: 100%;
 }
 /* nav button.navbar-toggler {
    margin-right: 0;
 } */
section#intro div.d-lg-flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
section.intro div.d-lg-flex a.btn {
    display: block;
}
footer section#footersocialicons ul.d-flex {
    display: flex;
    flex-direction: column;
}
}

@media (min-width: 200px) and (max-width: 992px) {
    nav #navsocialicons {
        display: none;
    }
    /* nav button.navbar-toggler {
        margin-right: 1%;
    } */
}

@media (min-width: 200px) and (max-width: 800px) {
    /* nav button.navbar-toggler {
        margin-right: 2rem;
    } */
}

#navsocialicons .bi {
    font-size: 1.5rem;
  padding: 2px 6px;
  border-radius: 50%;
}
#navsocialicons .bi:hover {
    background-color: gray;
}
#footersocialicons .bi {
    /* font-size: 2rem; */
    border: 2px solid green;
    padding: 3px 8px;
    border-radius: 50%;
}
section#upnav a.nav-link {
    font-size: larger;
    border: 2px dotted green;
    padding: 4px 8px;
    border-radius: 50%;
}
section#upnav a.nav-link:hover {
    border: 2px solid green;
}
/* contact form style */
/* email */
section#contact input[type="email"] {
    border-radius: 50px;
    padding: 15px;
    background-color: transparent;
    color: white;
} 
section#contact input[type="text"] {
    border-radius: 50px;
    padding: 15px;
    background-color: transparent;
    color: white;
} 
section#contact textarea {
    border-radius: 20px;
    padding: 15px;
    background-color: transparent;
    color: white;
   
} 
section#contact textarea[placeholder] {
    color: rgba(255,255,255,.5);
} 

/* navbarmenusocialicons */
.offcanvas-body .navbarmenusocialicons {
    color: green;
}
/* Preloader */
/* HTML: <div class="loader"></div> */
.loader {
    height: 15px;
    aspect-ratio: 5;
    --_g:no-repeat radial-gradient(farthest-side,#000 94%,#0000);
    background: var(--_g),var(--_g),var(--_g),var(--_g);
    background-size: 20% 100%;
    animation:
      l40-1 .75s infinite alternate,
      l40-2 1.5s infinite alternate; 
  }
  @keyframes l40-1 {
    0%,
    10% {background-position: 0 0,0 0,0 0,0 0}
    33% {background-position: 0 0,calc(100%/3) 0,calc(100%/3) 0,calc(100%/3) 0}
    66% {background-position: 0 0,calc(100%/3) 0,calc(2*100%/3) 0,calc(2*100%/3) 0}
    90%,
    100% {background-position: 0 0,calc(100%/3) 0,calc(2*100%/3) 0,100% 0}
  }
  @keyframes l40-2 {
    0%,49.99% {transform: scale( 1)}
    50%,100%  {transform: scale(-1)}
  }